table
{
    width:80%;
    margin-left: 10%;
}
.button, .tableButton
{
    outline: none;
    background: #4285F4;
    width: 100%;
    border: 0;
    border-radius: 4px;
    color: #FFFFFF;
    font-family: inherit;
    font-size: inherit;
    font-weight: 500;
    line-height: inherit;
    text-transform: uppercase;
    cursor: pointer;
}
.tableButton
{
    margin-top: 4px;  
    width:45%
}
.button
{
  padding: 12px 20px;
}
input[type="text"], textarea
{
    border: none;  
    width: 100%;
    margin-top: 10px;
    margin-left: 0;
    padding: 0;
    color: #4285F4;
    background: #FFFFFF;
}
input
{
    text-align: center;
}